
@{
    ViewData["Title"] = "ThanhToanThanhCong";
}
<style>
    .thanks-bg{
        max-width:80%;
        margin:auto;
        text-align:center;
        height:300px;
    }
</style>
<div class="container thanks-bg">
    <h1>Confirmation</h1>
    <h5 class="text-primary">Thank you. Your order has been received!</h5>


</div>


