
<li class="menu-item-has-children">
<a href="~/Home/Blog">Categories</a>
<ul class="axil-submenu">
    <li><a href="~/Home/Blog">Trinh tham</a></li>
    <li><a href="~/Home/BlogGrid">Phieu Luu</a></li>
    <li><a href="~/Home/BlogDetail">Hai Huoc</a></li>
    <li><a href="~/Home/BlogGallery">The Thao</a></li>
</ul>
</li>