
@{
    ViewData["Title"] = "Detail";
}

@model TheLoaiModel

<div class="container">
    <div asp-for="Name">Ten the loai:  @ViewBag.TenTheLoai </div>

    <div asp-for="DateCreated">Ngay Tao:  @ViewBag.DateCreated</div>
</div>

